<div class="container">
    <div class="row">
        <div id="id_1" class="col-lg-12" style="background: gainsboro"></div>
        <div id="id_2" class="col-lg-12" style="background: gainsboro;margin-top:10px"></div>
    </div>

</div>