<!DOCTYPE html>
<html>
<head>
    <title>websocket测试</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>websocket测试</h1>
<p>websocket测试</p>
</body>
</html>
